In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# Loading .csv from github raw
url = 'https://raw.githubusercontent.com/umaimehm/Intro_to_AI/master/assignment2-machineLearning/NAS.csv'
nas = pd.read_csv(url)
nas.head(30)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-12-18,19.482599,19.596901,19.025499,19.139799,19.139799,4978496.0
1,2003-12-19,19.368299,19.425501,18.282801,18.454201,18.454201,1410901.0
2,2003-12-22,18.739901,18.739901,17.997101,18.054300,18.054300,137047.0
3,2003-12-23,17.997101,17.997101,17.368700,17.425800,17.425800,229418.0
4,2003-12-24,NaN,NaN,NaN,NaN,NaN,NaN
5,2003-12-25,NaN,NaN,NaN,NaN,NaN,NaN
6,2003-12-26,NaN,NaN,NaN,NaN,NaN,NaN
7,2003-12-29,17.425800,17.425800,16.854500,17.254400,17.254400,196206.0
8,2003-12-30,17.425800,17.882900,17.425800,17.711500,17.711500,67298.0
9,2003-12-31,NaN,NaN,NaN,NaN,NaN,NaN
10,2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN
11,2004-01-02,17.940001,18.054300,17.768600,17.768600,17.768600,322923.0
12,2004-01-05,18.054300,18.054300,17.711500,17.711500,17.711500,182782.0
13,2004-01-06,17.940001,17.997101,17.597200,17.597200,17.597200,300054.0
14,2004-01-07,17.425800,17.711500,17.140100,17.140100,17.140100,189937.0
15,2004-01-08,17.083000,17.140100,16.740200,16.740200,16.740200,219861.0
16,2004-01-09,16.797300,17.425800,16.568800,17.425800,17.425800,336190.0
17,2004-01-12,17.140100,17.940001,17.140100,17.940001,17.940001,271528.0
18,2004-01-13,17.940001,18.282801,17.768600,18.225700,18.225700,851844.0
19,2004-01-14,18.282801,18.454201,18.225700,18.397100,18.397100,447547.0
20,2004-01-15,18.054300,18.625601,18.054300,18.625601,18.625601,919440.0
21,2004-01-16,18.625601,18.682699,18.511299,18.511299,18.511299,58993.0
22,2004-01-19,18.511299,18.511299,17.711500,17.997101,17.997101,41595.0
23,2004-01-20,17.997101,18.111401,17.997101,18.111401,18.111401,30630.0
24,2004-01-21,18.111401,18.111401,17.997101,18.054300,18.054300,26604.0
25,2004-01-22,18.168501,18.511299,18.111401,18.511299,18.511299,58109.0
26,2004-01-23,18.397100,18.397100,18.111401,18.111401,18.111401,2100.0
27,2004-01-26,18.225700,18.225700,17.997101,18.054300,18.054300,5601.0
28,2004-01-27,18.054300,18.282801,18.054300,18.111401,18.111401,93815.0
29,2004-01-28,17.711500,17.711500,17.311501,17.311501,17.311501,164526.0

## Feature engineering

There are alot of rows in the dataset which has no value. These are dates in which the stock market are closed, such as sundays, weekends and national holidays.

In [3]:
# Find the total of rows with no data value
nas.isnull().sum()

Date          0
Open         35
High         35
Low          35
Close        35
Adj Close    35
Volume       35
dtype: int64

In [6]:
# Copy old dataset and clean it
new_nas = nas.copy()
new_nas = new_nas.dropna(axis="rows")
new_nas.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [11]:
# Comparing rows in old and new dataset
print(f"The old dataset had a total of {nas.shape[0]} rows while the cleaned dataset has a total of {new_nas.shape[0]}. This means {nas.shape[0]-new_nas.shape[0]} rows has been removed.")

The old dataset had a total of 4253 rows while the cleaned dataset has a total of 4218. This means 35 rows has been removed.